<div class="col-md-2">
  <div class="card card-body sideCategory">
    <h4>Category</h4>
    <ul class="sideCategoryList" style="padding-left:10px;">
      <a class="" data-toggle="collapse" href=".collapseExample" aria-expanded="false" aria-controls="collapseExample">
        > Nasi
      </a>
      <li class="collapse collapseExample" style="padding-left:20px">
        <a href=""> > Nasi goreng</a>
      </li>
      <li class="collapse collapseExample" style="padding-left:20px">
        <a href=""> > Nasi goreng</a>
      </li>
      <li class="collapse collapseExample" style="padding-left:20px">
        <a href=""> > Nasi goreng</a>
      </li>
    </ul>

  </div>
</div>
