<span id="rateStar1" class="fa fa-star"></span>
<span id="rateStar2" class="fa fa-star"></span>
<span id="rateStar3" class="fa fa-star"></span>
<span id="rateStar4" class="fa fa-star"></span>
<span id="rateStar5" class="fa fa-star"></span><br>


<div class=rating>
  <div class="rating_star"></div>
  <div class="rating_star"></div>
  <div class="rating_star"></div>
  <div class="rating_star"></div>
  <div class="rating_star"></div>
</div>
